{% extends 'header.html' %}
{% load static %}
{% block main_body %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <br>
  <h1 style="text-align: center;font-size: 300%;">Booking</h1><br>
  <div class="Greenblock">
  </div>
  <br>
  <br>
  <div class="Booking" style="margin: 20px;">
    <h2>Booking</h2>
    <table class="table table-bordered">
      <thead>
        <th>Name</th>
        <th>Destination</th>
        <th>Date</th>
        <th>Members</th>
        <th>Status</th>
        <th>Action</th>
      </thead>
      <tbody align="center">
        {% for item in data %}
        <tr>
          <td>{{ item.Name }}</td>
          <td>{{ item.Destination }}</td>
          <td>{{ item.Schedule }}</td>
          <td>{{ item.Members }}</td>
          {% if item.status == False %}
          <td style="color: red;">Pending</td>
          {% else %}
          <td style="color: green;">Approve</td>
          {% endif %}
          <td>
            {% if item.status == False %}<a href="/onedaytwogether/Booking/Delete/{{ item.id }}"><button class="btn btn-danger">Cancel</button></a>
          {% else %}<p style="color: red;">You can't cancel</p>
          {% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="row">
      <div class="phone col-md-6" align="center">
        <br>
        <img src="{% static 'image/Screenshot 203-04-18 153933.png' %}" style="width: 28px;height: 28px;   margin-left: -27%;

    margin-top: -2%;">
        <p class="phonetext" style="    margin-top: -4%;
    margin-left: 40%;
    text-align: left;
    font-size: small;">
          Phone <br>(+855) 456 7890</p>
      </div>
      <div class="Email col-md-6" align="center">
        <br>
        <img src="{% static 'image/email.png' %}" style="    height: 28px;
    margin-left: -29%;
    margin-top: -2%;">
        <p class="phonetext" style="    margin-top: -4%;
    margin-left: 40%;
    text-align: left;
    font-size: small;">
          Email <br>1day2gethercamp@gmail.com</p>
      </div>
    </div>


    </form>

  </div>

</body>

</html>
<div style="width:100%">

</div>
{% endblock main_body %}