{% extends 'header.html' %}
{%load static%}
{% block main_body %}
{% block title %}Cart{% endblock title %}

<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Bootstrap Icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
    rel="stylesheet" type="text/css" />
<!-- SimpleLightbox plugin CSS-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />


<h1 align="center" style="padding: 25px; font-family: Arial Black;">Welcome To Our Shop</h1>
<hr style="height: 25px; color:black    ;">
<h2 align="center"
    style="padding: 25px; font-family: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Camping</h2>

<body id="page-top">
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-10" style="margin-top: -100px;">
            <div class="row gx-4 gx-lg-5 h-10 align-items-center justify-content-center text-center">
                <div class="col-lg-12 align-self-baseline" style="font-size:x-large;">
                    <a class="btn btn-primary btn-xl" href="{% url 'onedaytwogether:shop' %}">Camping</a>
                </div>
            </div>
        </div>
        <h3 style="margin: 70px 0px 0px 70px;">My Shopping Cart</h3>
    </header>
    </br>
    <hr style="width: 60%; color:#FFDF2B; height: 3px;">

    <table>
        <tr>
            <!-- Camping -->
            <div class="row">
                {% for i in cartdata %}
                <div class="col-8">
                    <div class="row g-0 align-items-center ">
                        <div class="col-lg-2">
                            <img class="d-block mx-auto d-cart-img-top"
                                src="../../../onedaytwogether/media/{{ i.Product_name.Image }}" style="width: 100px;">
                        </div>
                        <div class="col-lg-2" style="margin-left: 150px;">
                            <h5 class="text-center">
                                {{ i.Product_name.Product_name }}
                            </h5>
                            <p class="text-center">
                                {{ i.Product_name.New_Price }}$
                            </p>
                        </div>
                        <div class="col-lg-2" style="margin-left: 75px;">
                            {% for ap in allproduct %}
                            {% if i.Product_name.id == ap.id %}
                            {% if i.Quantity > ap.Quantity %}
                            <label for="quantity" class="form-label">Quantity:
                                {{ i.Quantity }}
                            </label>
                            <label for="quantity" class="form-label">Available only:
                                {{ ap.Quantity }}
                            </label>
                            {% else %}
                            <label for="quantity" class="form-label">Quantity:
                                {{ i.Quantity }}
                            </label>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-lg-2" style="margin-left: -40px;">
                            <p class="text-center">
                                <a href="Delete/{{ i.id }}"><input type="submit" value="X"
                                        style="background-color:white;color: red;border:0px;margin-left:60px"></a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </tr>
    </table>

    <hr style="width: 60%; color:#FFDF2B; height: 3px;">
    <!--Right details-->
    <div class="col-4" style="padding-left: 0px;margin-left:870px;margin-top:-335px" align="right">
        <div class="right-details">
            <h2 align="left" style="padding:10px 0px 10px 75px">Order Summary:</h2>
            <!--Sub and Promo-->

            <h4 align="left" style="padding:10px 0px 10px 75px; font-family: Inter;">Subtotal:
                {{ total_price }}$
            </h4>

            <form method="POST">
                <p align="left" style="padding-bottom: 10px; padding-left: 75px; color:rgb(10, 140, 183) ;">Have a promo
                    code?</p>
                <div class="text" align="left">
                    <input class="text" type="text" name="code" style="background-color:lightgrey;">
                </div>
                <br>
                <div class="sub" align="left">
                    <input type="submit" value="Add"
                        style=" width: 300px; height: 40px; color: #FFDF2B; margin: 25px; background-color: #124747;">
                </div>
            </form>

            <hr style="height: 3px;">
            <!--Total-->
            <form action="{% url 'onedaytwogether:purchase' %}" method="post" id="myForm">
                {% csrf_token %}
                <h3 align="left" style="padding-left: 75px; font-size: medium;">Estimated total: {{ total_price }}$</h3>
                <input type="hidden" value="{{ total_price }}" name="alltotal">
                <!-- Checkout -->
                <div class="check" align="left">
                    <input type="submit" value="Checkout" id="checkoutBtn"
                        style="width: 300px; height: 40px; color: #FFDF2B; margin: 25px; background-color: #124747;">
                </div>

                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                    document.getElementById("myForm").addEventListener("submit", function (event) {
                        event.preventDefault(); // Prevent the default form submission

                        const swalWithBootstrapButtons = Swal.mixin({
                            customClass: {
                                confirmButton: 'btn btn-success',
                                cancelButton: 'btn btn-danger'
                            },
                            buttonsStyling: false
                        });

                        swalWithBootstrapButtons.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Yes, Purchase!',
                            cancelButtonText: 'No, cancel!',
                            reverseButtons: true
                        }).then((result) => {
                            if (result.isConfirmed) {
                                swalWithBootstrapButtons.fire(
                                    'Purchased!',
                                    'Purchase Successfully',
                                    'success'
                                );
                                document.getElementById("myForm").submit(); // Submit the form
                            } else if (result.dismiss === Swal.DismissReason.cancel) {
                                swalWithBootstrapButtons.fire(
                                    'Cancelled',
                                    'You cancelled your purchase',
                                    'error'
                                );
                            }
                        });
                    });
                </script>
            </form>

        </div>
    </div>



    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

{% endblock main_body %}