<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/FirstDestination.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="pkpinfo">
        <div id="location">
            <a href="">Cambodia</a> > <a href="">Kompong Speu</a>
        </div>
        <h1>Phnom Khnong Phsar</h1>
        <div class="view">
            <i class="fa-regular fa-thumbs-up">99%</i>
            <a href="">240 reviews</a>
        </div>
        <div class="innp">
            <input class="check-availablility" type="button" value="Check availablility" name="" id="">
            <div class="inpsh">
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
                <input type="button" value="Share" name="" id="">
            </div>
        </div>
        <div class="pkpimg">
            <div class="leftside">
                <img src="img/pt.jpg" alt="">
            </div>
            <div class="rightside">
                <img class="f" src="img/p.jpg" alt="">
                <img class="s" src="img/p9.jpg" alt="">
            </div>
        </div>
        <div class="information">
            <div class="p1">
                <b>
                    <h4> <i class="fa-solid fa-location-dot"></i>Phnom Khnong Phsar is located in Tangbong village,
                        Rolak Kang Cheung area, <br>&nbsp; Ta Sal commune, Oral district, Kampong Speu province.
                    </h4>
                </b>
                <p style="margin-bottom: 25px;">About Khnmong Phsar: Khnong Phsar is a junction of three comers that
                    connects three <br>provinces: Koh Kong, Kampong Speu and Pursat <br>Khnong Phsart is an area
                    rich in dense forests, high valleys,beautiful pine fields and <br> rich in rare species of
                    wildlife, In the morning we should travel to the back of the marke.</p>
                <a href="">Show more ></a>
            </div>
            <div class="p2">
                <ul>
                    <b>Activities</b>
                    <li><a href="">Riding</a></li>
                    <li><a href="">Camping</a></li>
                    <li><a href="">Fishing</a></li>
                    <li style="text-decoration: underline !important;"><a href="">Show more ></a></li>
                </ul>
            </div>
            <div class="p3">
                <ul>
                    <b>Natural Features</b>
                    <li><a href="">Forest</a></li>
                    <li><a href="">Lake</a></li>
                    <li><a href="">Mountainous</a></li>
                </ul>
            </div>
        </div>

    </div>
    <h1 style="margin-bottom: 30px;">Book <span style="color: #007180;">Now</span></h1>
    <div class="contact" style="display: flex;">
        <div style="display: flex; margin-right: 40px;">
            <i class="fa-solid fa-phone-volume"></i>
            <p style="color: #007180;">(+8565) 456 789</p>
        </div>
        <div style="display: flex;">
            <i class="fa-solid fa-envelope-open-text"></i>
            <p style="color: #007180;">1day2gethercamp@gmail.com</p>
        </div>
    </div>

    </div>

</body>